/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    color: #333;

    display: flex;
    flex-direction: column;
    

.search-container {
    margin-bottom: 20px;
}

#search-input {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

li.hidden {
    display: none;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    transition: opacity 0.3s ease, height 0.3s ease;
}

li.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
}


/* styles.css */
.profile-pic {
    width: 40px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
    vertical-align: middle;
   }

li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 100px;
    align-items: center;
    vertical-align: middle;
    margin-right: 10px;
}

.footer {
    text-align: center;
    background-color: black;
    color: #ccc;
   
}

.anotacoes input {
  width: 120px;
}

.anotacoes {
  display: flex;
  gap: 5px;
}



